@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d5fef;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7577ee;
}

@keyframes loading {
  0% {
    scale: 1;
    transform: rotate(720deg);
  }
  100% {
    scale: 0;
    transform: rotate(0deg);
  }
}

.loading-animate {
  animation: loading 4s ease-in-out;
}
